* {
  box-sizing: border-box;
}  

  h3 {
    background-color: aqua;
    text-align: center;
}
.lorem p {
    background-color: lightgreen;
    text-align: justify;
    width: 200px;
    height: 290px;
}
 
.photo2 {
    background-color: #066;
    background-image: url('./images/photo_5276366267030289184_m.jpg'); 
    width: 200px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    font-size: 25px;
    text-align: center;
    color: beige;
}
