/*A: best killer 🗡  */
.pacman-top {
    background-color: blueviolet;
    height: 100px;
    width: 200px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    animation: pac1 2s infinite;
    position: relative;
}

.pacman-bottom {
    background-color: blueviolet;
    height: 100px;
    width: 200px;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    animation: pac2 2s infinite;
}

@keyframes pac1 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-45deg);
    }
}

@keyframes pac2 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(45deg);
    }
}

 .dot {
    height: 5px;
    width: 5px;
    background-color: #7fff07;
    position: absolute;
    top: 55px;
    right: 50px;
    border-radius: 50%;
}






